[Desktop Entry]
Name=UNetLab-X-Integration
Exec=unetlab-x-integration %u
TryExec=unetlab-x-integration
Type=Application
Categories=Network;
MimeType=x-scheme-handler/telnet;x-scheme-handler/capture;x-scheme-handler/docker;
X-KDE-Protocols=telnet,capture,docker
NoDisplay=true
