Package: unetlab-x-integration
Priority: extra
Section: net
Installed-Size: 1396
Maintainer: Sergei Eremenko <finalitik@gmail.com>
Architecture: all
Version: 0.2.0
Depends: python, ssh-askpass-gnome | ssh-askpass, telnet, vinagre, wireshark, xterm | x-terminal-emulator
Recommends: docker-engine | docker.io
Homepage: http://smartfinn.github.io/unetlab-x-integration/
Description: a tool which helps UNetLab to integrate with Ubuntu/Debian
 This package provides the following protocols:
  * telnet://
  * capture://
  * docker://
  * vnc:// (via Vinagre)
  * rdp:// (via Vinagre)
  * ssh:// (via Vinagre)
