Package: unetlab-x-integration
Priority: extra
Section: net
Installed-Size: 755
Maintainer: Sergei Eremenko <finalitik@gmail.com>
Architecture: all
Version: 0.1.1
Depends: telnet, wireshark, xterm | x-terminal-emulator
Recommends: vinagre, docker-engine | docker.io
Homepage: http://smartfinn.github.io/unetlab-x-integration/
Description: a tool which helps UNetLab to integrate with Ubuntu/Debian
 This package provides the following protocols:
  * telnet://
  * capture://
  * docker://
  * vnc:// (via Vinagre)
  * rdp:// (via Vinagre)
  * ssh:// (via Vinagre)
