[Desktop Entry]
Name=EVE-NG Integration
Exec=eve-ng-integration %u
TryExec=eve-ng-integration
Type=Application
Categories=Network;
MimeType=x-scheme-handler/telnet;x-scheme-handler/capture;x-scheme-handler/docker;x-scheme-handler/vnc;
X-KDE-Protocols=telnet,capture,docker,vnc
NoDisplay=true
